In [3]:
print(7**4)

2401

In [6]:
str= "Hi there Sam!"
str= str.split()

In [8]:
print(str)

['Hi', 'there', 'Sam!']

In [9]:
planet = "Earth"
diameter = 12742
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

In [14]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [15]:
d = {'k1':[1,2,3,{'tricky':['oh','man','incmeption',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [16]:
def getWebsite(s):
  return s.split("@")[1]
s = "user@domain.com"
print(getWebsite(s))

domain.com

In [17]:
def checkWord(s):
  return "dog" in s.lower()
print(checkWord("I bought a Dog."))

True

In [18]:
def countWord(s):
  return s.lower().count("dog")
print(countWord("I bought a Dog. The dog was cute and active."))

2

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(90,True))
print(caught_speeding(65,False))

Big Ticket
Small Ticket

In [20]:
n = int(input("Enter the number of Employees: "))
l = []
for i in range(n):
  basic = int(input("Enter basic pay for employee {0}: ".format(i+1)))
  da = float(basic*0.25)
  hra = float(basic*0.15)
  pf = float((basic+da)*0.12)
  ta = float(basic*0.075)
  netpay = float(basic+da+hra+ta)
  grosspay = float(netpay-pf)
  l.append([basic,da,hra,pf,ta,netpay,grosspay])
for i in range(n):
  print(l[i][-1])

Enter the number of Employees: 3
Enter basic pay for employee 1: 1000
Enter basic pay for employee 2: 10000
Enter basic pay for employee 3: 100000
1325.0
13250.0
132500.0

In [21]:
d1 = {'Empid':1,'Empname':'ABC','Basicpay':45000}
d2 = {'DeptName':'Information Technology','Deptid':2}
print(d1)
print(d2)
d1.update(d2)
print(d1)

{'Empid': 1, 'Empname': 'ABC', 'Basicpay': 45000}
{'DeptName': 'Information Technology', 'Deptid': 2}
{'Empid': 1, 'Empname': 'ABC', 'Basicpay': 45000, 'DeptName': 'Information Technology', 'Deptid': 2}